/* cyrillic-ext */
@font-face {
  -fx-font-family: 'Ubuntu';
  -fx-font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Ubuntu-Italic.ttf");
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Ubuntu-Light.ttf");
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Ubuntu-Regular.ttf");
}

.title {
    -fx-font-size: 32;
    -fx-font-family: serif;
    -fx-font-weight: 700;
}

.info {
    -fx-font-size: 14;
    -fx-font-family: "Ubuntu";
}

.txtfield {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 12;
    -fx-background-color: black, rgb(255, 209, 0);
    -fx-background-insets: -1 -1 -1 -1, 0 0 0 0;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -fx-font-style: italic;
    -fx-background-radius: 50;
}

.btn {
    -fx-font-family: "Ubuntu";
    -fx-font-weight: 300;
    -fx-font-size: 12;
    -fx-padding: 10;
    -fx-text-fill: black;
    -fx-background-radius: 50;
}

.btn-game {
    -fx-padding: 5 10 5 10;
}

.btn:hover {
    -fx-cursor: hand;
}


.btn-yellow {
    -fx-background-color: black, rgb(255, 209, 0);
    -fx-background-insets: -1 -1 -1 -1, 0 0 0 0;
}

.btn-black {
    -fx-background-color: black, black;
    -fx-background-insets: -1 -1 -1 -1, 0 0 0 0;
    -fx-text-fill: white;
}

.btn-white {
    -fx-background-color: black, white;
    -fx-background-insets: -1 -1 -1 -1, 0 0 0 0;
}

.word-list {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 14;
}

.point-text {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 18;
}

.pointer {
    -fx-font-size: 25;
    -fx-font-family: Arial;
    -fx-font-weight: 700;
}

.inputbox-text {
    -fx-font-size: 20;
    -fx-font-family: Arial;
    -fx-font-weight: 700;
}