/* cyrillic-ext */
@font-face {
  -fx-font-family: 'Ubuntu';
  -fx-font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Ubuntu-Italic.ttf");
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/Ubuntu-Light.ttf");
}

/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Ubuntu-Regular.ttf");
}

.txtfield {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "Ubuntu";
    -fx-font-weight: 500;
}

.btn {
    -fx-font-family: "Ubuntu";
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-font-weight: 400;
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 0 0 0, 0 3 5 0;
    -fx-background-color:
        #8a7419,
        #f4d65b;
}

.btn:pressed {
    -fx-background-insets: 0 0 0 0, 0 1 3 0;
        -fx-background-color:
            #8a7419,
            #f4d65b;
}